header{
    margin-bottom: 4rem;
}
#book-shelves {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px;
}

#shelves-title{
    position: absolute;
    top:-20%;
    left: 0%;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    margin: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 200px;
    height: 300px;
}

#form {
    display: none;
}